h1 {
    font-family: Arial;
    color: teal;
}

#image {
    background: url('https://images.unsplash.com/photo-1586370740632-f910eb4ad077?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1556&q=80');
    height: 500px;
    width: 650px;
}